.videoPage {
  padding: 20px;
  flex: 0.8;
  white-space: pre;
}

.videoPage__title {
  font-weight: 700;
}

.videoPage__row {
  line-height: 1.4em;
  margin-top: 0cm;
  margin-bottom: 0cm;
  font-family: "Roboto Mono", monospace;
}
